body {
    background-image: url("assets/serpent.webp");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-size: auto 25vh;
    background-color: #fff8e1;

    font-family: Fira Mono, Roboto;
}

.centered {
    margin-left: auto !important;
    margin-right: auto !important;

    align-items: baseline;
}

.chip {
    height: auto !important;
    border-radius: 5px !important;
    margin-right: 3px !important;

    font-family: Fira Mono, Roboto !important;
}
.chip span {
    padding: 3px;
    white-space: break-spaces !important;
}

.paper {
    background-color: #f0f4c3;
}
