:root {
    --fonts: Fira Sans, Roboto, Hack, sans;
    --primary-background: #fff8e1;
    --primary-background-darker: oklch(from var(--primary-background) calc(l * 0.3) c h);
    --secondary-background: #f0f4c3;
}

body.serpent {
    background-image: url("assets/serpent.webp");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-size: auto 25vh;
}

body {
    background-color: var(--primary-background);

    font-family: var(--fonts);
    @media (max-width: 899px) {
        font-size: 90%;
    }
}

select, input, textarea {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 3px;

    background-color: inherit;
    width: inherit;
}

div.input-wide, input.input-wide {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;

    width: 100%;
}

textarea.input-wide {
    border: 1px solid #999;

    width: 100%;
}

.input-wide > input {
    border-radius: 0px;
    border: none;
    outline: none;
}

button {
    border: 1px solid;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    display: flex;
    color: rgb(85, 139, 47);
    border-color: rgb(85, 139, 47);

    background-color: inherit;
    width: inherit;
}

button > span {
    padding-left: .2em;
}

.centered {
    margin-left: auto;
    margin-right: auto;

    align-items: center;
}

.horizontal-stack {
    display: flex;
    flex-direction: row;

    align-items: stretch;
    justify-content: space-around;

    gap: 4px;
}

.vertical-stack {
    display: flex;
    flex-direction: column;

    gap: 4px;
}

.message-action-icons {
    display: flex;

    @media (min-width: 900px) {
        flex-direction: row;
    }
    @media (max-width: 899px) {
        flex-direction: column;
        gap: 10px;
        position: fixed;
        top: 20%;
        right: 5px;
        background-color: var(--secondary-background);
        padding: 5px;
        border: 1px solid #999;
        box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
    }
}

.flow-wrap {
    flex-flow: wrap;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.fit-content {
    width: fit-content;
}

.width-100 {
    width: 100%;
}

.margin-bottom {
    margin-bottom: 8px;
}

.margin {
    margin-top: 8px;
    margin-bottom: 8px;
}

.paper {
    border: 1px solid #999;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
}

.paper.active {
    box-shadow: 0px 10px 13px -6px rgba(0,0,0,0.2),0px 20px 31px 3px rgba(0,0,0,0.14),0px 8px 38px 7px rgba(0,0,0,0.12);
}

.chip {
    display: inline-flex;
    white-space: nowrap;

    border-radius: 7px;
    margin-right: 3px;

    background-color: var(--bg-color);
    color: oklch(from var(--bg-color) calc(1 - round(l - 0.15)) 0 0);

    padding-left: 3px;
    padding-right: 3px;
}

.message-text {
    white-space: pre-line;
    word-wrap: break-word;
}

.text-preview {
    overflow: hidden;
    white-space: collapse;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-word;
}

.cal-preview {
    background-color: var(--secondary-background);
    white-space: pre-line;
    text-align: center;
    padding: 8px;
}

.autocomplete-popup {
    background-color: var(--secondary-background);
    z-index: 10;
    position: absolute;
    padding: .5em;
    cursor: pointer;

    scrollbar-gutter: stable;
    max-height: 10%;
    overflow-y: auto;
    overflow-x: hidden;
}

.autocomplete-popup > div {
    padding: 2px;
}

.autocomplete-popup > .selected {
    background-color: rgba(85, 139, 47, 0.4);
}

.alert {
    padding: .5em;
    display: flex;
}

.alert > span {
    padding-left: .5em;
    margin-top: auto;
    margin-bottom: auto;
}

.message {
    background-color: var(--secondary-background);
    padding: 8px;
    width: min(80em, 80vw);
}

.message.deleted {
    border-color: red;
    border-style: solid;
}

.attachments {
    display: grid;
    gap: 7px;
    overflow-wrap: anywhere;
    margin-top: 10px;

    @media (min-width: 900px) {
        grid-template-columns: repeat(min(var(--num-attachments), 6), 1fr);
    }
    @media (max-width: 899px) {
        grid-template-columns: repeat(min(var(--num-attachments), 3), 1fr);
    }
}

.clipped {
    overflow: clip;
}

.thread {
    display: grid;
    @media (min-width: 900px) {
        grid-template-columns: 1fr 3fr 5fr 3fr;
        padding: 2px;
    }
    @media (max-width: 899px) {
        grid-template-columns: auto auto auto;
        gap: 5px;
        padding: 8px;
    }
}

.grid {
    display: grid;
}

.grid-authors {
    @media (max-width: 899px) {
        grid-column: span 2;
    }
}

.grid-subject {
    @media (max-width: 899px) {
        grid-column: span 2;
    }
}

.thread div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.thread.active {
    background-color: rgba(85, 139, 47, 0.4);
}

.thread.active:hover {
    background-color: rgba(85, 139, 47, 0.5);
}

.thread.selected.active {
    background-color: rgba(85, 139, 47, 0.45);
}

.thread.selected {
    background-color: rgba(85, 139, 47, 0.3);
}

.thread:hover {
    background-color: rgba(85, 139, 47, 0.2);
}

.thread.due {
    border-color: red;
    border-style: solid;
}

.todo-threads {
    @media (min-width: 900px) {
        width: calc(100% - 10.5em);
    }
    @media (max-width: 899px) {
        width: 100%;
    }
}

.hide-if-narrow {
    @media (max-width: 899px) {
        display: none;
    }
}

.calendar {
    align-items: end;
    text-align: end;
    white-space: nowrap;

    height: 99vh;
    @media (max-width: 899px) {
        display: none;
    }

    overflow-y: scroll;
    scrollbar-width: none;

}

.calendar .boxes {
    display: flex;
    align-items: center;
    text-align: start;
    width: 3em;
}

.calendar::-webkit-scrollbar {
  display: none;
}

.calendar-box {
    width: 1em;
    height: 1em;
    background-color: grey;
    display: inline-block;
    margin: 0.05em;
}
.calendar-box.highlight {
    background-color: red;
}

.chip-edit-autocomplete {
    display: flex;
    flex-flow: wrap;
    align-items: baseline;
}

.chip-edit-autocomplete input {
    width: auto;
    flex-grow: 1;
}

.edit-tag-box {
    margin-top: 10px;
    width: 80%;
    background-color: var(--primary-background);
    border: 2px solid black;
}

.edit-tag-box input {
    outline: none;
    width: 100%;
    border: none;
}

.threadnav-container {
    margin-top: 0.5em;
    margin-left: 0.5em;
    max-width: 10%;
    overflow: auto;
    width: auto;
    padding-right: 5px;

    gap: 0px;
}

.threadnav-box {
    position: relative;
    width: 1em;
    height: 1em;
    margin-left: calc(var(--depth) * 1em + 0.05em) !important;
    opacity: 0.3;
    margin: 0.05em;
}

.threadnav-box.active-thread {
    opacity: 1;
}

.threadnav-box.active {
    border-color: black;
}

label {
    color: rgb(85, 139, 47);
    border-color: rgb(85, 139, 47);
}

.today {
    background-color: rgba(255, 128, 0, 0.4);
}

.weekend {
    background-color: rgba(85, 139, 47, 0.4);
}

.sticky {
    top: 0px;
    position: sticky;
    height: fit-content;
}

.settings-box {
    vertical-align: baseline;
    width: 2em;
}

.settings-box input {
    text-align: center;
}

.top-right {
    position: fixed;
    top: 10px;
    right: 10px;
}

.icon-container {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.icon {
    width: 1em;
    height: 1em;
    font-size: 1.8rem;
}

/* https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
  overflow-x: auto;
}
