body {
    background-image: url("assets/serpent.webp");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-size: auto 25vh;
    background-color: #fff8e1;

    font-family: Roboto;
}

.centered {
    margin-left: auto !important;
    margin-right: auto !important;

    align-items: center;
}

.calendar {
    align-items: end;
    text-align: end;
    white-space: nowrap;

    height: 98vh;
    max-width: 9em;

    overflow-y: scroll;
    scrollbar-width: none;
}

.calendar::-webkit-scrollbar {
  display: none;
}

.margin {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.chip {
    height: auto !important;
    border-radius: 5px !important;
    margin-right: 3px !important;

    font-family: Fira Mono, Roboto !important;

    background-color: var(--bg-color) !important;
    color: oklch(from var(--bg-color) calc(1 - round(l - 0.1)) 0 0) !important;
}

.chip span {
    padding: 3px;
    white-space: break-spaces !important;
    width: max-content;
}

.message-text {
    white-space: pre-line;
}

.text-preview {
    overflow: hidden;
    white-space: collapse;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.cal-preview {
    background-color: #f0f4c3 !important;
    white-space: pre-line;
    text-align: center;
    padding: 8px;
}

.autocomplete-popup {
    background-color: #f0f4c3;
}

.message {
    background-color: #f0f4c3 !important;
    padding: 8px;
    margin: 8px;
    width: min(80em, 80vw);
}

.message.deleted {
    border-color: red;
    border-style: solid;
}

.thread.active {
    background-color: rgba(85, 139, 47, 0.4) !important;
}

.thread.active:hover {
    background-color: rgba(85, 139, 47, 0.5) !important;
}

.thread.selected.active {
    background-color: rgba(85, 139, 47, 0.45) !important;
}

.thread.selected {
    background-color: rgba(85, 139, 47, 0.3);
}

.thread:hover {
    background-color: rgba(85, 139, 47, 0.2) !important;
}

.thread.due {
    border-color: red;
    border-style: solid;
}

.chip-edit-autocomplete div {
    padding-left: 3px !important;
}

.chip-edit-autocomplete input {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    width: auto !important;
    flex-grow: 1;
}

.chip-edit-autocomplete .MuiInput-root {
    flex-wrap: wrap;
}

#query-box {
    margin-top: 10px;
}

#edit-tag-box {
    position: fixed !important;
    top: 10%;
    left: 10%;
    width: 80% !important;
    background-color: #fff8e1;
    border: 2px solid black;
}

#edit-tag-box + .MuiOutlinedInput-notchedOutline {
    border: none;
}

.threadnav-box {
    position: relative;
    width: 1em;
    height: 1em;
    border: .05em solid white;
}

.calendar-box {
    width: 1em;
    height: 1em;
    border: .05em solid white;
    background-color: grey;
    display: inline-block;
    text-align: left;
}
.calendar-box.highlight {
    background-color: red;
}

.select-margin div {
    padding: 10px;
}

.input-field-set {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

button {
    color: rgb(85, 139, 47) !important;
    border-color: rgb(85, 139, 47) !important;
}

label {
    color: rgb(85, 139, 47) !important;
    border-color: rgb(85, 139, 47) !important;
}

.today {
    background-color: rgba(255, 128, 0, 0.4) !important;
}

.weekend {
    background-color: rgba(85, 139, 47, 0.4);
}

.sticky {
    top: 0;
    position: sticky;
    height: fit-content;
}
