:root {
    --fonts: Fira Sans, Roboto, Hack, sans;
}

body {
    background-image: url("assets/serpent.webp");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-size: auto 25vh;
    background-color: #fff8e1;

    font-family: var(--fonts);
}

.centered {
    margin-left: auto !important;
    margin-right: auto !important;

    align-items: center;
}

.margin {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.paper {
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
}

.paper.active {
    box-shadow: 0px 10px 13px -6px rgba(0,0,0,0.2),0px 20px 31px 3px rgba(0,0,0,0.14),0px 8px 38px 7px rgba(0,0,0,0.12);
}

.chip {
    display: inline-flex;

    border-radius: 7px !important;
    margin-right: 3px !important;

    background-color: var(--bg-color) !important;
    color: oklch(from var(--bg-color) calc(1 - round(l - 0.15)) 0 0) !important;

    padding-left: 3px;
    padding-right: 3px;
}

.MuiInputBase-root {
    font-family: var(--fonts) !important;
}

.MuiButton-root {
    font-family: var(--fonts) !important;
}

.MuiAlert-message {
    font-family: var(--fonts) !important;
}

.message-text {
    white-space: pre-line;
    word-wrap: break-word;
}

.text-preview {
    overflow: hidden;
    white-space: collapse;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-word;
}

.cal-preview {
    background-color: #f0f4c3 !important;
    white-space: pre-line;
    text-align: center;
    padding: 8px;
}

.autocomplete-popup {
    background-color: #f0f4c3;
    z-index: 10;
    position: absolute;
    padding: .5em;
    cursor: pointer;

    display: none;
}

.autocomplete-popup.visible {
    display: block;
}

.autocomplete-popup > div {
    padding: 2px;
}

.autocomplete-popup > .selected {
    background-color: rgba(85, 139, 47, 0.4);
}

.alert {
    padding: .5em;
    display: flex;
}

.alert > span {
    padding-left: .5em;
}

.message {
    background-color: #f0f4c3 !important;
    padding: 8px;
    margin: 8px;
    width: min(80em, 80vw);
}

.message.deleted {
    border-color: red;
    border-style: solid;
}

.thread div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.thread.active {
    background-color: rgba(85, 139, 47, 0.4) !important;
}

.thread.active:hover {
    background-color: rgba(85, 139, 47, 0.5) !important;
}

.thread.selected.active {
    background-color: rgba(85, 139, 47, 0.45) !important;
}

.thread.selected {
    background-color: rgba(85, 139, 47, 0.3);
}

.thread:hover {
    background-color: rgba(85, 139, 47, 0.2) !important;
}

.thread.due {
    border-color: red;
    border-style: solid;
}

.chip-edit-autocomplete div {
    padding-left: 3px !important;
}

.chip-edit-autocomplete input {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    width: auto !important;
    flex-grow: 1;
}

.chip-edit-autocomplete .MuiInput-root {
    flex-wrap: wrap;
}

#query-box {
    margin-top: 10px;
}

#edit-tag-box {
    position: fixed !important;
    top: 10%;
    left: 10%;
    width: 80% !important;
    background-color: #fff8e1;
    border: 2px solid black;
}

#edit-tag-box + .MuiOutlinedInput-notchedOutline {
    border: none;
}

.threadnav-container {
    margin-top: 0.5em;
    margin-left: 0.5em;
    max-width: 10%;
    overflow: auto;
}

.threadnav-box {
    position: relative;
    width: 1.2em;
    height: 1.2em;
    border: .05em solid white;
    opacity: 0.3;
}

.threadnav-box.active-thread {
    opacity: 1;
}

.threadnav-box.active {
    border-color: black;
}

.todo-threads {
    margin-bottom: auto !important;
    @media (min-width: 900px) {
        max-width: calc(100% - 10.5em);
    }
}

.calendar {
    align-items: end;
    text-align: end;
    white-space: nowrap;

    height: 100vh;
    @media (min-width: 900px) {
        max-width: 10.5em;
    }
    @media (max-width: 899px) {
        display: none;
    }

    overflow-y: scroll;
    scrollbar-width: none;
}

.calendar::-webkit-scrollbar {
  display: none;
}

.calendar-box {
    width: 1em;
    height: 1em;
    border: .05em solid white;
    background-color: grey;
    display: inline-block;
    text-align: left;
}
.calendar-box.highlight {
    background-color: red;
}

.select-margin div {
    padding: 10px;
}

.input-field-set {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

button {
    color: rgb(85, 139, 47) !important;
    border-color: rgb(85, 139, 47) !important;
}

label {
    color: rgb(85, 139, 47) !important;
    border-color: rgb(85, 139, 47) !important;
}

.today {
    background-color: rgba(255, 128, 0, 0.4) !important;
}

.weekend {
    background-color: rgba(85, 139, 47, 0.4);
}

.sticky {
    top: 0;
    position: sticky;
    height: fit-content;
}

.settings-box {
    vertical-align: baseline !important;
    width: 2em;
}

.settings-box input {
    text-align: center;
}

.top-right {
    position: relative;
    top: 0px;
    right: 0px;
}

/* https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
