asn1crypto
cryptography
beautifulsoup4
pillow
Flask
Flask-Compress
icalendar
lxml
lxml_html_clean
notmuch2 @ https://github.com/weilbith/notmuch2-python-bindings/archive/refs/heads/master.zip
pytest
python_dateutil
Werkzeug
recurrent
python-gnupg
